version: '2'
services:
  maven:
    build: maven
    volumes:
      - web_app:/boxfuse-sample-java-war-hello/


  tomcat:
    build: deploy
    volumes:
      - web_app:/apache-tomcat-8.5.56/temp/
      - ./maven:/apache-tomcat-8.5.56/conf/Catalina/localhost/
    ports:
      - "85:8080"
    depends_on:
      - maven
volumes:
  web_app:



#  tomcat:
#    image: tomcat:8.0
#    volumes:
#      - web_app:/usr/local/tomcat/temp/
#      - ./maven:/usr/local/tomcat/conf/Catalina/localhost/
#    ports:
#      - "85:8080"
#    depends_on:
#      - maven
#volumes:
#  web_app:

