version: '2'
services:
  maven:
    build: maven
    volumes:
      - web_app:/boxfuse-sample-java-war-hello/

  tomcat:
    image: tomcat:8.0
    volumes:
      - web_app:/usr/local/tomcat/temp/
    command: "ls bin/cp && ls /usr/local/tomcat/temp/target && ls  /usr/local/tomcat/webapps/ && /bin/cp -R /usr/local/tomcat/temp/target /usr/local/tomcat/webapps/"
    # command: bash -c "ls -l /usr/local/tomcat/"
    entrypoint: ["/bin/bash"]


    ports:
      - "85:8080"
    depends_on:
      - maven
volumes:
  web_app:

